* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f1c24;
  color: #00e1ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header {
  margin-bottom: 25px;
}

header h1 {
  font-size: 32px;
  color: #00e1ff;
}

.calculator {
  background: #1e2a31;
  width: 380px;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 0 15px #000;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.calculator h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input{
  background: #0f1c24;
  border: 2px solid #1e2a31;
  color: #00e1ff;
  font-weight: 600;
  border-radius: 8px;
  padding: 10px;
  font-size: 18px;
  transition: 0.3s;
  
}
select {
  background: #0f1c24;
  border: 2px solid #1e2a31;
  color: #00e1ff;
  font-weight: 600;
  border-radius: 8px;
  padding: 10px;
  font-size: 18px;
  transition: 0.3s;
}

input:focus,
select:focus {
  border-color: #00e1ff;
  outline: none;
}

button {
  padding: 12px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: #00e1ff;
  color: #0f1c24;
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s ease;
  margin: 20px auto 0 auto;
}

button:hover {
  transform: scale(1.04);
  box-shadow: 0 0 3px #00e1ff;
  font-weight: 900;
}

#resultat {
  margin-top: 20px;
  text-align: center;
}

#resultat h3 {
  font-size: 20px;
  color: #00e1ff;
  margin-bottom: 10px;
}

footer {
  margin-top: 40px;
  text-align: center;
  color: #00e1ff;
  opacity: 0.8;
}

@media (max-width: 500px) {
  .calculator,
  #historique-card {
    width: 95%;
  }

  header h1 {
    font-size: 26px;
  }

  button {
    font-size: 16px;
  }
}
